* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  width: 330px;
  height: 330px;
  margin-bottom: 15px;
}

.fruit {
  margin: 0 auto;
  width: 97%;
  height: 100%;
  background-size: contain;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}

.modal-container-two {
  outline: none;
  text-align: center;
  font-size: 16px;
  height: 100px;

}

.top-picks {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 85px 0px;
}


.steps-logo {
  width: 372px;
  height: 373px;
  object-fit: contain;
}


.home-box-name {
font-size: 21px;
font-weight: bold;
line-height: 1.29;
padding-top: 40px;
padding-bottom: 10px;
}

.home-box-info {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  margin-left: 30px;
  margin-right: 30px;
}

.home-plan {
  display: flex;
  justify-content: space-around;
  width: 98%;
  text-align: center;
  height: 649px;
  margin: 0 auto;
  background-color: #d8f2ee;
}
.smoothie-logo {
  width: 536px;
  height: 603.3px;
  object-fit: contain;
}
