* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  width: 330px;
  height: 330px;
  margin-bottom: 15px;
}

.fruit {
  margin: 0 auto;
  width: 97%;
  height: 100%;
  background-size: contain;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a:link {
    text-decoration: none;
}

.top-picks {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 55px 0px;
}

.home-name {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.29;
}

.home-kind {
  font-size: 16px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 100;
}

.home-products {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #eb7171;
}

.home-top-picks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  text-align: center;
}

.home-details {
  display: flex;
  margin-top: 90px;
  margin-bottom: 140px;
  justify-content: space-around;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.steps-logo {
 width: 200px;
 height: 280px;

}
.steps-logos {
  width: 250px;
 height: 280px;
 padding-right: 50px;
}

.home-box-name {
font-size: 21px;
font-weight: bold;
line-height: 1.29;
padding-top: 40px;
padding-bottom: 10px;
}

.home-box-info {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

.home-plan {
  display: flex;
  justify-content: space-around;
  width: 98%;
  text-align: center;
  height: 649px;
  margin: 0 auto;
  background-color: #d8f2ee;
}
.smoothie-logo {
  width: 536px;
  height: 603.3px;
  object-fit: contain;
}

.view-products {
  width: 289px;
height: 65px;
border-radius: 32.5px;
background-color: #eb7171;
color:white;
font-size: 21px;
  font-weight: 500;
  line-height: 1.52;
margin: 40px auto;
letter-spacing: normal;
border-color: #eb7171;
display: block;
}

.the-plans {
  font-size: 35px;
font-weight: bold;
padding-top: 90px;
padding-bottom: 15px;
}

.no-commit {
  font-size: 16px;
  font-weight: 200;
}

.weekly-options {
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 15px;
  font-weight: 500;
}

.weekly-offer {
  border-radius: 10px;
  border: solid 4px #272f30;
  width: 162px;
 height: 162px;
 display: inline-block;
 margin-right: 30px;
}

.numbered {
  height: 55px;
  font-size: 46px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 30px;
}

.numbered-week {
  height: 19px;
 font-size: 16px;
 font-weight: 500;
 padding-top: 5px;
 padding-bottom: 5px;
}

.numbered-cost {
  font-size: 16px;
  font-weight: 200;
}
