body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px 10px 80px;

}

.main-logo {
  width: 153px;
  height: 28px;
  margin-left: 40px;
}

.login {
  border:none;
  font-size: 18px;
  font-weight: bold;
  color: #160424;
  padding: 10px;
  margin-right: 10px;
}

.login:hover {
  background-color: #eb7171;

  color: white;
  font-weight: 200;
}

.started {
  border-radius: 22.5px;
  border: #eb7171;
  background-color: #eb7171;
  color:white;
  width: 150px;
  height: 45px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .8px;
  line-height: 1.5;
}

.browse {
  font-size: 18px;
  font-weight: bold;
  border:none;
    padding: 10px;
  color: #160424;
}

.browse:hover {
  background-color: #eb7171;

  color: white;
  font-weight: 200;
}


.back-button {
  width: 14px;
 height: 18px;
}

.white-logo {
  width: 152px;
  height: 28px;
  text-align: center;
  padding-left: 50px;
}

.count-boxes {
  color: white;
  font-size: 16px;
}
.order-navbar {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #eb7171;
}
